{% extends "base.html" %}


{% block title %} Sign up {% endblock %}

{% block content %}
    <br>
    <h1 align="center"> Welcome! Sign up below.</h1>
    <br>

    <form method = 'POST'>
      {{ form.hidden_tag()}}
  
      {{form.email.label(class="form-label")}}
      {{form.email(class="form-control")}}
    <br>

      {{form.name.label(class="form-label")}}
      {{form.name(class="form-control")}}
    <br>

      {{form.password1.label(class="form-label")}}
      {{form.password1(class="form-control")}}
    <br>

      {{form.password2.label(class="form-label")}}
      {{form.password2(class="form-control")}}
    <br>
    
      {{form.submit(class="btn btn-primary")}}
    </form>
    <br>

        <a href="/login">Already have an account? Login</a><br>

      
{% endblock %}