{% extends "public/templates/public_template.html" %}

{% block title %}CSS Functions {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>CSS Classes</h1>
            <hr>
            <h3>Question 3: {{ questions[3] }}</h3>
            <br>
            <br>
            <label>Answer: </label>
            <input class="form-control" type="text", name="answer", placeholder="Enter answer here">
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div >
                    <br>
                    <br>
                    <button class="btn btn-warning btn-lg" onclick="HintsFunction()">Hint</button>

                    <div id="HintsDiv" style="display:none">
                      <h4>{{ hints[1] }}</h4>
                    </div>
                    <script>
                        function HintsFunction() {
                        var H = document.getElementById("HintsDiv");
                        H.style.display = "block";  // <-- Set it to block
}
                    </script>

                    <a href="/css-classes-4" class="btn btn-primary btn-lg active" role="button">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}