{% extends "base.html" %}

<!-- Remove navbar -->
{% block nav %} {% endblock %}

<!-- Change template title to now display Sign Up -->
{% block title %} Sign up {% endblock %}

<!-- <body> content Now includes a form for sign up. Requires email, name and password. Password confirmation is also checked here -->
{% block content %}
    <br>
    <h1> Welcome! Sign up below.</h1>
    <br>
    <form method = 'POST'>

        <div class="form-group">
          <label for="email">Email address</label>
          <input 
            type="email"   
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="firstname">Fist Name</label>
          <input 
            type="text"   
            class="form-control" 
            id="firstname" 
            name="firstname" 
            placeholder="Enter first name">
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input 
              type="password"   
              class="form-control" 
              id="password1" 
              name="password1" 
              placeholder="Enter password">
        </div>
  
        <div class="form-group">
            <label for="password2">Confirm password</label>
            <input 
              type="password"   
              class="form-control" 
              id="password2" 
              name="password2" 
              placeholder="Confirm password">
        </div>
        <br>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
                Remember me
            </label>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Sign in</button>
        <br>
        <br>

        <a href="{{url_for('login')}}">Already have an account? Login</a><br>

      </form>
{% endblock %}
