{% extends "base.html" %}
{% block title %} Learn Python {% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <h1 align="center"> Welcome to BELL learning- Learn Python </h1>
    <br>
        <div align="center" class="container">
            <button onclick=window.location.href="{{url_for('python_operators')}}" class="btn btn-primary">Python Operators</button>
            <button onclick=window.location.href="{{url_for('python_data_types')}}" class="btn btn-primary">Python Data Types</button>
            <button onclick=window.location.href="{{url_for('retrieve_python')}}" class="btn btn-primary">TBC</button>
            <button onclick=window.location.href="{{url_for('retrieve_python')}}" class="btn btn-primary">TBC</button>
        </div>


{% endblock %}